//
//  MovieListSampleDebug.xcconfig
//  MovieListSample
//
//  Created by Adauto Pinheiro on 26/07/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

API_SCHEME = https
API_ROOT_URL = api.tvmaze.com
